@import "settings.css";
@import "tooltips.css";
@import "auth.css";

:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 430px;
    height: 600px;
    background-color: #18181b;
}

::selection {
    background-color: #9146ff;
    color: #fff;
}

/*  NAVBAR  */

.navbar {
    color: #fff;
    background-color: #0e0e10;
    width: 430px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.search-container {
    width: auto;
    display: inline-flex;
    height: 100%;
}

.search-container input[type="text"] {
    width: 145px;
    background-color: #242429;
    color: #fff;
    border: 2px solid #242429;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    margin: 10px 0 10px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.search-container input[type="text"]:focus {
    outline: 0;
}

::placeholder {
    color: rgba(175.31, 175.31, 175.31, 0.6);
    font-weight: normal;
    user-select: none;
}

.navbar-container {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: bold;
    user-select: none;
}

.link-container {
    display: inline-flex;
    height: 100%;
    float: right;
}

/*  NAVBAR LINKS/BUTTONS  */

.navbar-link {
    color: #fff;
    background-color: #38383f;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link:hover {
    background-color: #9146ff;
}

.navbar-link:active {
    background-color: #772ce8;
}

.refresh-button {
    margin-left: 0px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #242429;
}

/*  FILTER/SORT DROPDOWN  */
.dropdown {
    align-items: center;
    visibility: hidden;

    transform-origin: top center;
    z-index: 1000;
}

.dropdown-content {
    position: absolute;
    background-color: #242429;
    padding: 0;
    width: 182px;
    height: auto;
    border: 1px solid #38383f;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 10px 6px rgba(0, 0, 0, 0.3);

    transform: translate(-117px, 45px);
}

.dropdown-body {
    color: #fff;
    width: 100%;
    padding: 5px;
}

.filter-option {
    height: 30px;
    font-size: 1rem;
}

.filter-button {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #242429;
    padding: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #38383f;
}

.filter-button:active {
    background-color: #54545f;
}

.active {
    background-color: #9146ff;
}

.active:hover {
    background-color: #772ce8;
}

.active:active {
    background-color: #5c16c5;
}

.filter-icon {
    margin: 0 8px;
}

/*  MAIN ELEMENT CLASSES  */

.streams {
    bottom: 0;
    width: 430px;
    height: 550px;
    display: block;
    top: 50px;
    position: absolute;
}

.content {
    flex-direction: column;
    width: 430px;
    display: flex;
}

/*  STREAM "CARD" CLASSES */

.stream-container {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #242429;
    border-bottom: 1px solid #000;
    display: flex;
    /*animation: fade-anim-in 0.6s cubic-bezier(0.35, 0.55, 0, 1);
    transition: transform 333ms cubic-bezier(0.35, 0.55, 0, 1);*/
}

.stream-container:hover {
    background-color: #242429;
    text-shadow: 0 0 4px #000;
}

.stream-container:active {
    background-color: #29292e;
}

.stream-thumbnail {
    position: relative;
    width: 80px;
    height: 45px;
    padding: 10px;
}

.stream-thumbnail img {
    border-radius: 4px;
    width: 80px;
    height: 45px;
    background-color: #242429;
}

.stream-container:hover .stream-thumbnail img {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.stream-uptime {
    position: absolute;
    right: 10.1%;
    bottom: 15.3%;
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.78rem;
    font-weight: 600;
    padding: 2px 2px 1px 3px;
    border-radius: 4px 0;
    text-shadow: 0 0 4px #000;
    z-index: 900;
}

.stream-details {
    width: calc(100% - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stream-channel-name {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.stream-game-and-viewers,
.stream-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #787878;
    font-size: 12px;
}

.stream-game-and-viewers::selection,
.stream-title::selection {
    color: #fff;
}

/* ANIMATIONS */

@keyframes popup-anim-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes popup-anim-out {
    to {
        transform: scale(0.95);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fade-anim-in {
    from {
        opacity: 0;
    }
    to {
        overflow: 1;
    }
}

.popup-anim-in {
    animation: popup-anim-in 333ms cubic-bezier(0.35, 0.55, 0, 1) forwards;
}
.popup-anim-out {
    animation: popup-anim-out 222ms cubic-bezier(0.35, 0.55, 0, 1) forwards;
}

/*  CONTEXT MENU  */

#context-menu {
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    background-color: #0e0e10;
    border: 1px solid #242429;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    visibility: hidden;
    user-select: none;
    animation-fill-mode: forwards;
    transform-origin: top center;
}

.context-item {
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
}

.context-item:hover {
    background-color: #38383f;
}

.context-item:active {
    background-color: #9146ff;
}

.cm-divider {
    height: 1px;
    background-color: #242429;
    margin: 5px 0;
}

.context-active {
    background-color: #242429;
}



/*  OTHER  */

.accent-color {
    color: #9146ff;
}

.no-search-results {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 20px 0 0 0;
}
