@import "settings.css";
@import "tooltips.css";
@import "auth.css";



:root {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 430px;
    height: 600px;
    background-color: #18181b;
}

::selection {
    background-color: #9146ff;
    color: #fff;
}



/*  NAVBAR  */

.navbar {
    color: #fff;
    background-color: #0e0e10;
    width: 430px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.search-container {
    width: 50%;
    display: inline-flex;
    height: 100%;
}

.search-container input[type="text"] {
    width: 100%;
    background-color: #242429;
    color: #fff;
    border: 2px solid #242429;
    border-radius: 5px 0 0 5px;
    padding: 8px;
    margin: 10px 0 10px 10px;
    font-size: 1rem;
    font-weight: bold;
}

.search-container input[type="text"]:focus {
    outline: 0;
}

::placeholder {
    color: rgba(175.31, 175.31, 175.31, 0.6);
    font-weight: normal;
    user-select: none;
}

.navbar-container {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: bold;
    user-select: none;
}

.link-container {
    display: inline-flex;
    height: 100%;
    float: right;
}



/*  NAVBAR LINKS/BUTTONS  */

.navbar-link {
    color: #fff;
    font-weight: bold;
    background-color: #38383f;
    padding: 7px 7px 5.5px 7px;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    display: inline;
    align-content: center;
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
}

.navbar-link:hover {
    background-color: #9146ff;
}

.navbar-link:active {
    background-color: #772ce8;
}

.navbar-icon-link {
    padding: 6.5px 7.5px;
    margin-left: 0;
    margin-right: 10px;
    font-size: 1rem;
}

.refresh-button {
    margin-left: 0px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #242429;
}



/*  MAIN ELEMENT CLASSES  */

.streams {
    bottom: 0;
    width: 430px;
    height: 550px;
    display: block;
    top: 50px;
    position: absolute;
}

.content {
    flex-direction: column;
    width: 430px;
    display: flex;
}



/*  STREAM "CARD" CLASSES */

.stream-container {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #242429;
    border-bottom: 1px solid #000;
    display: flex;
}

.stream-container:hover {
    background-color: #242429;
    text-shadow: 0 0 4px #000;
}

.stream-thumbnail {
    position: relative;
    width: 80px;
    height: 45px;
    padding: 10px;
}

.stream-thumbnail img {
    border-radius: 4px;
    width: 80px;
    height: 45px;
    background-color: #242429;
}

.stream-container:hover .stream-thumbnail img {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 10px 4px rgba(0, 0, 0, 0.3);
}

.stream-uptime {
    position: absolute;
    right: 10.1%;
    bottom: 15.5%;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.78rem;
    font-weight: 600;
    padding: 2px 2px 1px 3px;;
    border-radius: 4px 0;
    text-shadow: 0 0 4px #000;
    z-index: 900;
}

.stream-details {
    width: calc(100% - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stream-channel-name {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.stream-game-and-viewers,
.stream-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #787878;
    font-size: 12px;
}

.stream-game-and-viewers::selection,
.stream-title::selection {
    color: #fff;
}



/*  OTHER  */

.accent-color {
    color: #9146ff;
}

.no-search-results {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}
